#player1-section{
	width: 49vw;
	margin: 0;
	display: inline-block;
	/*float: left;*/

}
.center{
	margin-left: auto;
	margin-right: auto;
}
#p1{
	width: 400px;
	height: 400px;
}
#player2-section{

	width: 49vw;
	/*height: 400px;*/
	/*float: right;*/
	margin: 0;
	display: inline-block;

}
#p2{
	width: 400px;
	height: 400px;

}


#player1-section i{
	text-align: center;
	color: #CC9900;
	font-size: 30px;
}

.clear{
	clear: both;
}

.title{
	text-align: center;
	font-size: 18px;
	
	font-weight: 600;
}
#votingApparatus{
	float: left;
	padding-top: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#logged-in-as{
	text-align: right;
	padding-right: 15px;
}