#player1-section{
	width: 49vw;
	margin: 0;
	display: inline-block;
	/*float: left;*/

}
.center{
	margin-left: auto;
	margin-right: auto;
}
#p1{
	width: 400px;
	height: 400px;
}
#player2-section{

	width: 49vw;
	/*height: 400px;*/
	/*float: right;*/
	margin: 0;
	display: inline-block;

}
#logo{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
#p2{
	width: 400px;
	height: 400px;

}


#player1-section i{
	text-align: center;
	color: #CC9900;
	font-size: 30px;
}

.clear{
	clear: both;
}

.title{
	text-align: center;
	font-size: 18px;
	
	font-weight: 600;
}
#votingApparatus{
	float: left;
	padding-top: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#logged-in-as{
	text-align: right;
	padding-right: 15px;
}
#welcome{
	text-align: center;
	font-weight: 1000;
}
#buttongr{
	list-style: none;
	width: 450px;
	margin-left: auto;
	margin-right: auto; 	
}
#buttongr li{
	float: left;
	padding-left: 20px;
}
#play-now{
	padding-top: 20px;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}
#how-to-play{
	padding-top: 20px;

}
#how-to-play-title{
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

#how-to-play-desc ul{
	padding top: 10px;
	padding-left: 20%;
	padding-right: 20%;
}
#how-to-play-desc li{
	padding top: 10px;
}
.center{
	text-align: center;
}
#leaderboards{
	padding-left: 15%;
	padding-right: 15%;
}