#player1{
	width: 800px;
	height: 600px;
}
#player2{
	width: 800px;
	height: 600px;
}
#vs-title{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: sans-serif;
	font-size: 48px;
}
#vs-title i{
	color: #CC9900;
}