#player1{
	width: 400px;
	height: 400px;
	float: left;

}
#player2{

	width: 400px;
	height: 400px;
	float: right;
}
#vs-title{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: sans-serif;
	font-size: 24px;
}
#vs-title i{
	color: #CC9900;
}

#votingApparatus{
	float: left;
	padding-top: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}